:root {
    --font-menuI: 'Share Tech Mono', monospace;
    --color-primary: #7b331f;
    --color-bg-nav: #fffaf2;
    --color-sec-nav: #ffe5c3;
}



.site-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color:#11141e;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1000;
    padding: 0 50% 0 0;
    gap: 3rem;
    animation: fadeMenu 8s ease-out infinite;

}


.site-nav .logo {
    max-height: 80%;
    padding-left: 10%;
    width: auto;
    display: block;
}

.barra-nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 0;
}

.barra-nav li a {
    text-decoration: none;
    font-family: var(--font-menuI);
    font-weight: 800;
    text-transform: uppercase;
    color: wheat;
    padding: 0.5rem 0.75rem;
    display: block;
}

.barra-nav a:hover,
.barra-nav .active {
    background: var(--color-primary);
    color: var(--color-bg-nav);
    box-shadow: 0 5px 20px var(--color-primary);
    transform: scale(1.1);
    border-radius: 3px;
}

/*Botón para buscar*/
.site-nav .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 300px;
    flex-shrink: 0;
    margin-left: auto;
}

.site-nav .group .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.site-nav .group .input::placeholder {
    color: #9e9ea7;
}

.site-nav .group .input:focus,
input:hover {
    outline: none;
    border-color: #fff;
    background-color: #fff;
    box-shadow: 5px 8px 8px 5px var(--color-primary);
}

.site-nav .group .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 2.5rem;
}

/*Perfil - Botón*/
.site-nav .perfil {
    align-items: center;
    text-align: center;
    position: relative;
    flex-shrink: 0;
    cursor: pointer;
    border: none;
}

.site-nav .perfil:hover {
    transform: scale(1.2);
}

.site-nav .perfil .bi-person-square {
    display: block;
    position: relative;
    width: 50%;
    height: 25px;
    margin-left: 10px;
}

.site-nav .perfil #labelP {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    width: 50%;
    height: 50%;
    color: black;
    text-align: center;
    font-family: var(--font-menuI);
}

/*Carrito boton*/

.site-nav .cupones {
    display: block;
    align-items: center;
    position: relative;
    flex-shrink: 0;

}

.site-nav .cupones:hover {
    transform: scale(1.2);
}

.site-nav .cupones .bi-cart-fill {
    position: relative;
    width: 50%;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;

}

.site-nav .cupones #labelP2 {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    width: 50%;
    height: 50%;
    color: black;
    text-align: center;
    font-family: var(--font-menuI);
}

/*main */
main {
    margin-top: 100px;
    padding-left: 0;
}
.carousel.slide {
  position: relative;
}
.carousel.slide .mainBack {
  position: absolute;
  inset: 0;  
  height: 100%;                  
  background: rgba(0,0,0,0.6);   
  z-index: 1;
  pointer-events: none;
}
.carousel-inner {
    width: 100%;
    height: 700px;
    box-shadow: 0 5px 5px rgba(255, 3, 3, 0.6);
    z-index: 0;
}

.carousel-inner .carousel-item {
    display: flex;
    width: 100%;
    height: 100%;    
    position:relative;
    filter: blur(0.1em);
    z-index: 0;

}

.carousel-inner .carousel-item:nth-child(1):hover{
    transform: scale(1);
    
}

.carousel-inner .carousel-item:hover{
    transform: scale(1.1);
    filter: blur(0em);
}

.carousel-item img {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    box-shadow: 0 20px 20px rgba(255, 3, 3, 0.6);
    object-fit: cover;
}
.carousel-inner .carousel-item:nth-child(1),
.carousel-inner .carousel-item:nth-child(1) img  {
    flex: 1 1 auto;
    min-width: 0;            
    height: 100%;
    object-fit: cover;
    border-radius: 0rem;
    filter: blur(0em);
    
}

.carousel-control-prev {
    background-color: black;
    border-radius: 10px;
    height: 50px;
    width: 60px;
    top: 50%;
    left: 5%;
}
.carousel-item .main-content {
    position: absolute;
    top: 15%;
    height: fit-content;
    z-index: 2;
    right:0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: var(--color-sec-nav);
}
.carousel-item .main-content .titulo {
    font-family: var(--ff-main);
    margin-bottom: 0.5rem;
    font-weight: 800;
    font-size: 4rem;
    text-transform: uppercase;
  }
  .carousel-item .main-content .name {
    font-family: var(--ff-main);
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
  }
  .carousel-item .main-content .desc {
    font-family: var(--ff-main);
    text-transform: uppercase;
    font-weight:400;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 2.4;
  }
.carousel-control-next {
    background-color: black;
    border-radius: 10px;
    height: 50px;
    width: 60px;
    top: 50%;
    right: 5%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #7b331f;
    transform: scale(1.2);
}


.carousel-inner .carousel-item:nth-child(2) {
    width: 250px;
    top:55%;
    left: 30%;
    height: 40%;
}

.carousel-inner .carousel-item:nth-child(3) {
    width: 250px;
    top:55%;
    left: 40%;
    height: 40%;
}

.carousel-inner .carousel-item:nth-child(4) {
    width: 250px;
    top:55%;
    left: 50%;
    height: 40%;
}

.carousel-inner .carousel-item:nth-child(5) {
    width: 250px;
    top:55%;
    left: 60%;
    height: 40%;
}
/*Boton de Menú*/
.row .col-12 .menu{
    overflow: hidden;         
    height: 100px;
    text-align: center;
    background-color: #11141e;;
}
.row .col-12 .menu h2{
    overflow: hidden;         
    height: 100px;
    text-align: left;
    margin-left: 5%;
    color: wheat;
    background-color: #11141e;;
    font-family: var(--font-menuI);
    font-weight: 800;
    font-size: 3rem;
}
button.botonInfo {
    display: block;
    background: black;
    color:wheat;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    width: 200px;
    height: 50%;
    margin-left:45%;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
button.botonInfo:hover {
    background: var(--color-primary);
    transform: scale(1.1);
    box-shadow: 0 10px 10px #5e3338;
}
/*Card Styles*/
.row .col-2 .menu_item{
    width: 270px;
    height: 200px;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-top: 10%;
}
.rowFonMenI{
  background-color:var(--color-primary);
  z-index: 1;
}
.card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  background-repeat: no-repeat;    
  background-position: center;       
  background-size: cover;           
  height: 100%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform .3s ease, box-shadow .3s ease, border .3s ease;
}

.card .overlay {
  position: absolute;
  inset: 0;
  background: transparent;
  transition: .3s ease;
}

.card-content {
  align-content: center;
  position: absolute;
  inset: 0;
  display: block;
  color: #fff;
  opacity: 0;
  transition: opacity .3s ease, transform .3s ease;
}
.card-content h3{
  font-size: 1.5rem;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 10px var(--color-sec-nav);
}

.card:hover .overlay {
  background: rgba(0,0,0,0.7);
  
}

.card:hover .card-content {
  opacity: 1;
  transform: translateY(0);
  ;
}

/*Footer*/
footer{
    width: 100%;
    height: fit-content;
}
.footer__logo img {
  height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
}
.footer__divider {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 1.5rem auto;
  width: 80%;
  max-width: 600px;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer__copyright {
  margin: 0;
  font-size: 0.9rem;
}
.footer__links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__links a {
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__links a:hover {
  color: var(--color-primary);
}
.content-wrapper {
  margin: 0 auto;
}
.site-footer {
  background: #11141e;
  color: var(--text);
  text-align: center;
  padding: 1rem;
}
/*Social Media Footer*/

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #11141e;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: black;
  color: black;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background:black;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color:black;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: black;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: black;
}


/*Keyframes*/
@keyframes fadeMenu {
    0% {
        box-shadow: 10px 15px 15px #f83205;
    }

    50% {
        box-shadow: 10px 15px 15px rgb(50, 13, 37);
    }

    100% {
        box-shadow: 10px 15px 15px #f83205;
    }
}